# app
APP_PORT=3000
# swagger
SWAGGER_PATH=api/docs
SWAGGER_LOGIN=
SWAGGER_PASS=
# Postgres
PG_HOST=127.0.0.1
PG_PORT=5430
PG_USERNAME=postgres
PG_PASS=postgres
PG_DB=testovoe
# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379